<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2020 Gobierno de España
  ~
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at https://mozilla.org/MPL/2.0/.
  ~
  ~ SPDX-License-Identifier: MPL-2.0
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="es.gob.radarcovid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".RadarCovidApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity">

        <receiver
            android:name=".common.base.broadcast.ExposureStatusChangeBroadcastReceiver"
            android:permission="com.google.android.gms.nearby.exposurenotification.EXPOSURE_CALLBACK"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.exposurenotification.ACTION_EXPOSURE_STATE_UPDATED" />
            </intent-filter>
        </receiver>

        <receiver android:name="org.dpppt.android.sdk.internal.BootCompletedBroadcastReceiver"
            android:exported="true"
            tools:node="merge">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".features.splash.view.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="radarcovid" android:host="report" />
                <data
                    android:host="${qrCodeHostName}"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.onboarding.view.OnboardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.main.view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.covidreport.form.view.CovidReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.exposure.view.ExposureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.covidreport.confirmation.ConfirmationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.information.view.InformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.qrcodescan.view.QRScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.venuerecord.view.VenueRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.venuevisited.view.VenueVisitedActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
